.heading {
  text-align: center;
  font-size: var(--fs-md);
  width: justify;
}

.text {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  line-height: 1.6;
  font-size: var(--fs-base);
}

.grid {
  display: grid;
  gap: 3em;
}

@media screen and (min-width: 900px) {
  .grid3x2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 0;
  }

  .heading {
    font-size: 2.3rem;
  }

  .text {
    font-size: 1.6rem;
  }
}
