.container {
  text-align: center;
}

.heading {
  position: relative;
  font-weight: 500;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

.heading::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 70px;
  height: 1.5px;
  background-color: var(--color-brand-hover--1);
  transform: translateX(-50%);
}
.text {
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

.grid {
  display: grid;
  gap: 2.5em;
}

@media screen and (min-width: 700px) {
  .gridCols2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 19px;
    grid-row-gap: 50px;
  }
  .heading::after {
    height: 2px;
  }
}

@media screen and (min-width: 1024px) {
  .gridCols2 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-row-gap: 50px;
  }

  .heading {
    font-size: 2.5rem;
  }

  .text {
    font-size: 1.5rem;
  }
}
