.content {
  text-align: center;
}

.grid {
  display: grid;
  margin-top: 2em;
}

.text {
  font-size: var(--fs-base);
  line-height: 1.6;
}

@media screen and (min-width: 768px) {
  .grid {
    gap: 4em;
  }

  .gridCols2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .text {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .text {
    font-size: var(--fs-desktop);
  }
}
