.block {
  padding: 6rem 2rem;
  padding-bottom: 8rem;
  max-height: 700px;
}

.container {
  background-color: var(--color-light--2);
  text-align: center;
}

:global(.swiper) {
  position: relative;
  width: 100%;
  padding-bottom: 3rem;
}

/* for specificity */
.container :global(.swiper-button-prev) {
  /* display: none; */
  position: absolute;
  left: 1px;
}

/* for specificity */
.container :global(.swiper-button-next) {
  position: absolute;
  right: 1px;
}

:global(.swiper-button-prev),
:global(.swiper-button-next) {
  max-width: 20px;
  height: 20px;
  color: #8d8c8c;
}

:global(.swiper-pagination) {
  position: absolute; /* make it positionable */
  bottom: 0; /* distance from bottom of container */
  left: 50%; /* center horizontally */

  display: flex;
  justify-content: center;
  z-index: 10; /* stay above slides */
}

:global(.swiper-pagination-bullet) {
  background-color: #4b4b4b;
}

:global(.swiper-pagination-bullet-active) {
  background-color: var(--color-brand--1);
}

@media screen and (min-width: 768px) {
  :global(.swiper-button-prev),
  :global(.swiper-button-next) {
    height: 30px;
  }
}
