.guarantee {
  text-align: center;
}

.icon {
  font-size: 3.7rem;
  background-color: #f2750796;
  padding: 0.8rem;
  color: white;
  border-radius: 100%;
  margin-top: 1rem;
}

.title {
  font-size: var(--fs-md);
  font-weight: 500;
  margin: 0.7rem 0;
}

.text {
  font-size: var(--fs-base);
  font-weight: 400;
}

@media screen and (min-width: 1024px) {
  .guarantee {
    text-align: left;
  }

  .title {
    font-size: 2.1rem;
  }
  .text {
    font-size: var(--fs-desktop);
    line-height: 1.5;
  }
}
