/* .mission {
  padding-top: 1em;
} */

.mission:not(:last-child) {
  border-bottom: 1px solid var(--color-brand-hover--2);
  padding-bottom: 2em;
}

.iconTagline {
  color: var(--color-brand-hover--1);
  font-weight: 600;
}

.icon {
  vertical-align: top;
}

.heading {
  font-size: 2.1rem;
  font-weight: 500;
  margin: 1.5rem 0;
}

.text {
  font-size: var(--fs-base);
  line-height: 1.5;
}

@media screen and (min-width: 700px) {
  .mission:nth-child(2) {
    align-self: center;
    border-bottom: none;
  }

  .mission:nth-child(3) {
    /* border-top: 1px solid rgb(248, 139, 44);
    padding-top: 2em; */

    max-height: 300px;
    grid-column-start: span 2;
  }

  .text {
    font-size: 1.4rem;
    max-width: 80ch;
  }
}

@media screen and (min-width: 1024px) {
  .heading {
    font-size: 2.6rem;
  }

  .text {
    font-size: var(--fs-desktop);
    line-height: 1.6;
  }

  .mission:nth-child(2) {
    border-bottom: 1px solid var(--color-brand-hover--2);
    padding-bottom: 3em;
  }

  .mission:nth-child(3) {
    grid-column: 2/ 3;
    padding-top: none;
    max-height: 400px;
  }
}
