.bannerHeading {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 3.8rem;
  font-weight: 500;
  letter-spacing: 0.1px;
}

.bannerSubHeading {
  font-size: 4.2rem;
  margin-bottom: 1rem;
  color: white;
}

.bannerText {
  font-size: 1.8rem;
}

@media screen and (min-width: 700px) {
  .bannerHeading {
    font-size: 3.3rem;
  }

  .bannerSubHeading {
    font-size: 3.7rem;
  }

  .bannerBtn {
    padding: 1rem 2rem;
    font-size: 1.8rem;
  }
}

@media screen and (orientation: portrait) and (min-width: 600px) and (max-width: 900px) {
  .bannerHeading {
    font-size: 3.8rem;
  }

  .bannerSubHeading {
    font-size: 4.2rem;
  }

  .bannerText {
    font-size: 1.8rem;
  }

  .bannerBtn {
    padding: 1.2rem 2.5rem;
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .bannerHeading {
    font-size: 3.6rem;
  }

  .bannerText {
    font-size: 2rem;
  }

  .bannerBtn {
    padding: 1rem 2rem;
    font-size: var(--fs-desktop);
  }
}
